#  _____ _____    _____________
# /  __ \_   _|  / /  __ \  _  \
# | /  \/ | |   / /| /  \/ | | |
# | |     | |  / / | |   | | | |
# | \__/\_| |_/ /  | \__/\ |/ /
# \____/\___/_/    \____/___/

/.github/** @Rmsaone

#    ___ _____       __  _____ _____
#   |_  /  ___|     / / |_   _/  ___|
#     | \ `--.     / /    | | \ `--.
#     | |`--. \   / /     | |  `--. \
# /\__/ /\__/ /  / /      | | /\__/ /
# \____/\____/  /_/       \_/ \____/

eslint.config.js   @Rmsaone

# _____ _       _           _
#|  __ \ |     | |         | |
#| |  \/ | ___ | |__   __ _| |
#| | __| |/ _ \| '_ \ / _` | |
#| |_\ \ | (_) | |_) | (_| | |
# \____/_|\___/|_.__/ \__,_|_|

README.md @Rmsaone
/app/**        @Rmsaone
package.json   @Rmsaone
package-lock.json   @Rmsaone
nuxt.config.js   @Rmsaone
commitlint.config.js   @Rmsaone


